@model IEnumerable<reserva_de_sala_dsm.Models.Sala>

@using reserva_de_sala_dsm.Models

@{
    ViewData["Title"] = "Salas Disponíveis";
}
<h1>Salas Disponíveis</h1>
@if(TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Nova Sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Capacidade</th>
            <th>Localização</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var sala in Model)
        {
            <tr>
                <td>@sala.Nome</td>
                <td>@sala.Capacidade</td>
                <td>@sala.Recursos</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@sala.Id" class="btn btn-info btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@sala.Id" class="btn btn-warning btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@sala.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>